.delivery-container {
  width: 80%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  text-align: center;
}

.delivery-manage {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}

.delivery-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto 20px auto;
  text-align: center;
}

.delivery-table th,
.delivery-table td {
  border: 1px solid #ddd;
  padding: 12px;
}

.delivery-table th {
  background-color: #f4f4f4;
  font-size: 16px;
  font-weight: bold;
}

.delivery-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.delivery-table tr:hover {
  background-color: #f1f1f1;
}

.delivery-table td {
  font-size: 14px;
}

.delete {
  background-color: #f81e1e;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.delete:hover {
  background-color: #ff4a4a;
}

.edit {
  background-color: #0c22d9;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 5px;
}

.edit:hover {
  background-color: #5163f5;
}

.add {
  background-color: #04a84d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.add:hover {
  background-color: #1cda70;
}

.add-container {
  text-align: right;
  margin-top: 10px;
}