@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');


/* 모달 배경 */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5); /* 회색 배경 */
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 모달 내용 */
.modal-content {
  background-color: rgba(191, 153, 153);
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  height: 80%; /* 모달 높이 */
  overflow-y: auto; /* 스크롤 허용 */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.modal-content h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* 약관 섹션 스타일 */
.terms-section {
  margin: 10px auto;
  padding: 10px;
  text-align: center;
}

.terms-section h2 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

.terms-section p {
  font-size: 14px;
  line-height: 1.6;
}

.terms-section ul {
  list-style-type: none;
  padding: 0;
}

.terms-section ul li {
  font-size: 14px;
  line-height: 1.6;
}

/* 체크박스 및 동의 라벨 */
.terms-agree {
  margin-top: 20px;
  text-align: center;
}

.terms-agree input[type="checkbox"] {
  margin-right: 10px;
}

.terms-agree label {
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.terms-agree label:hover {
  text-decoration: underline;
}