body{
    margin: 0;
    padding: 0;
}

#app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-container{
    padding-top: 50px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: visible;
}

.main-content {
    flex: 1;
}

.product-section {
    margin-bottom: 100px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.section-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    flex: 1;
    margin-bottom: 50px;
}