/* 공지사항 컨테이너 */
.notice-container {
  padding: 20px;
}

/* 제목 */
.notice-title {
  text-align: center;
  margin-bottom: 20px;
  font-family: PretendardBold, sans-serif;
}

/* 검색 및 필터 */
.notice-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
  font-family: PretendardRegular, sans-serif;
}

.notice-search-select {
  padding: 5px;
  border: 1px solid #00A731;
  border-radius: 4px;
  font-size: 12px;
  width: 100px;
}

.notice-search-input {
  padding: 5px;
  border: 1px solid #00A731;
  border-radius: 4px;
  font-size: 12px;
  width: 200px;
}

.notice-search-button {
  padding: 5px;
  background-color: #00A731;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  width: 80px;
}

/* 공지사항 테이블 */
.notice-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 14px;
  text-align: center;
}

.notice-table thead tr {
  border-bottom: 2px solid #ddd;
  font-family: PretendardBold, sans-serif;
}

.notice-table th,
.notice-table td {
  padding: 10px;
}

.notice-table th {
  text-align: center;
}

.notice-table td {
  border-bottom: 1px solid #eee;
  font-family: PretendardLight, sans-serif;
}

.notice-table td.title {
  color: #000;
  text-align: center;
  font-family: PretendardLight, sans-serif;
}

/* 페이지네이션 */
.notice-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
  font-family: PretendardRegular, sans-serif;
}

.notice-pagination button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

.notice-pagination button.active {
  background-color: #00A731;
  color: white;
}

.notice-pagination button.inactive {
  background-color: #ddd;
  color: black;
}