#custom-navbar {
    height: 5rem;
}

#custom-navbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

#custom-navbar .nav-link-right {
    font-size: 0.9rem;
    margin-left: 1rem;
}

@media (max-width: 768px) {
    .navbar-brand {
        font-size: 1.2rem;
    }

    .nav-link-right {
        font-size: 0.8rem;
    }
}