.join-container {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    /*border: 1px solid #eaeaea;*/
    border-radius: 8px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
    margin: 50px auto 100px;
    font-family: PretendardRegular, sans-serif;
}

.join-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.join-form .form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.join-form label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.join-form .form-control {
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

.join-form .input-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.join-form .input-group .form-control {
    flex: 1;
}

.join-form .input-group .btn {
    flex-shrink: 0;
    padding: 0 20px;
    height: 40px;
    font-size: 14px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.join-form .input-group .btn:hover {
    background-color: #0056b3;
}

.join-form .agreement-box {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    background-color: #f9f9f9;
    font-size: 14px;
}

.join-form .agreement-box label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

.join-form .agreement-box .checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
}

.file-input {
    width: 100%;
    padding: 0.375rem 0.75rem;
}

.join-form textarea {
    width: 100%;
    height: 200px !important;
    resize: none;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
}

.join-form .btn-submit {
    height: 45px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: PretendardBold, sans-serif;
}

.join-form .btn-submit:hover {
    background-color: #0056b3;
}

.join-form .recaptcha {
    margin-top: 20px;
    text-align: center;
}

.join-form .login-link {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    color: #007bff;
}

.join-form .login-link a {
    text-decoration: none;
    color: #007bff;
}

.join-form .login-link a:hover {
    text-decoration: underline;
}

/* Button next to zip input */
#validationFormikZip .input-group {
    gap: 10px;
}

.font-label{
    font-family: PretendardBold, sans-serif;
}