.cart-list {
    border: none;
    background-color: #f9f9f9;
    font-family: PretendardBold, sans-serif;
}

.cart-item {
    border: none;
    padding: 15px 60px 15px 15px;
    font-family: PretendardRegular, sans-serif;
}

.item-name {
    font-size: 14px;
    margin-bottom: 5px;
    font-family: PretendardBold, sans-serif;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.delete-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #aaa;
    font-size: 16px;
    z-index: 10;
    background-color: inherit;
    border: none;
}

.delete-btn svg {
    width: 1.5rem;
    height: 1.5rem;
}

.cart-btn-block {
    font-family: PretendardBold, sans-serif;
}

.d-flex.justify-content-between.mb-2 {
    font-family: 'PretendardRegular', sans-serif;
}

.d-flex.justify-content-between.fw-bold.mb-3{
    font-family: 'PretendardRegular', sans-serif;
}