.admin-confirmlist {
  font-family: 'PretendardRegular';
  margin: 20px;
  color: #333;
  margin-top: 50px;
}

.admin-confirmlist h1 {
  color: #0056b3; /* 파란색 계열 제목 */
  text-align: center;
  margin-bottom: 20px;
}

.admin-confirmlist table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  background-color: #f9f9f9;
}

.admin-confirmlist th,
.admin-confirmlist td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.admin-confirmlist th {
  background-color: #007bff; /* 파란색 계열 헤더 */
  color: white;
}

.admin-confirmlist tr:nth-child(even) {
  background-color: #f2f2f2;
}

.admin-confirmlist tr:hover {
  background-color: #e6f7ff; /* 강조 효과 */
}

.admin-confirmlist td {
  color: #555;
}

.admin-confirmlist tbody tr td:last-child {
  color: #28a745; /* 승인 상태 색상 */
  font-weight: bold;
}